<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>27</key>
	<array>
		<dict>
			<key>nome</key>
			<string>Erasmo Carlos em “Gigante Gentil”</string>
			<key>local</key>
			<string>Praça do Areão</string>
			<key>horario</key>
			<string>20:00</string>
			<key>descricao</key>
			<string>Mesmo consagrado, Erasmo Carlos continua incansável. Com 50 sólidos anos de estrada, brinda o público com a turnê de seu novo álbum, “Gigante Gentil”. Cabeça efervescente e coração a mil, o Tremendão canta sucessos já incorporados ao cancioneiro nacional, e mostra que a fama de mau não tira dele o lado terno, singelo, sensível e gentil. Esse Gigante Gentil vem a Itabira pela primeira vez, e encerra o 40º Festival de Inverno ao som de grandes sucessos como “Sentado à Beira do Caminho”, “Mulher”, “Gatinha manhosa” e rocks clássicos, como “Minha fama de mau” e “Festa de Arromba”.</string>
			<key>link</key>
			<string>http://www.erasmocarlos.com.br</string>
		</dict>
	</array>
	<key>26</key>
	<array>
		<dict>
			<key>nome</key>
			<string>Cia Errantes em “Fábulas Errantes”</string>
			<key>local</key>
			<string>Teatro da FCCDA</string>
			<key>horario</key>
			<string>16:00</string>
			<key>descricao</key>
			<string>Ingresso: R$5,00 (cinco reais)
Inspirado nas obras dos Irmãos Grimm, o espetáculo reconta as lendas e fábulas eternizadas pelos escritores alemães. Ao som de trilha sonora original, uma trupe mambembe disputa a atenção do público para contar as histórias “Pé de Zimbro”, “Rapunzel” e “Hans, Meu Ouriço”. Despojamento, humor e rebeldia dão a tônica dessa apresentação.</string>
			<key>link</key>
			<string>vazio</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Apresentação da oficina “Canto Coral” com Zeca Rodrigues</string>
			<key>local</key>
			<string>Casa de Drummond</string>
			<key>horario</key>
			<string>19:00</string>
			<key>descricao</key>
			<string>Apresentação do resultado final da oficina “Coral e Arranjo Vocal”, com músicas do rico repertório da MPB e participação especial de um quarteto vocal e de instrumentistas convidados, celebrando juntos o evento do 40ª Festival de Inverno de Itabira.</string>
			<key>link</key>
			<string>vazio</string>
		</dict>
	</array>
	<key>25</key>
	<array>
		<dict>
			<key>nome</key>
			<string>Mostra de Cinema e Vídeo Experimentais “Disseminação”</string>
			<key>local</key>
			<string>Memorial Carlos Drummond de Andrade</string>
			<key>horario</key>
			<string>18:30</string>
			<key>descricao</key>
			<string>O Disseminação é uma mostra de cinema e vídeo com novas abordagens e experimentações por meio de projeções de curtas-metragens, permeados por performances artísticas. Assim, o cinema conversa diretamente com outras manifestações, como artes plásticas e artes cênicas.</string>
			<key>link</key>
			<string>vazio</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Katumbi e Mamour Bá em “O Poder do Ritmo”</string>
			<key>local</key>
			<string>Fazenda do Pontal</string>
			<key>horario</key>
			<string>22:00</string>
			<key>descricao</key>
			<string>A banda itabirana Katumbi agrega a musicalidade mineira à poesia drummondiana. A ideia é que, por meio da música, os poemas de Drummond possam alcançar ouvidos sedentos de poesia e de música. Em sua apresentação, relembra clássicos do pop rock e sucessos dos anos 80 e 90. O “Poder do Ritmo” é o nome do show em que Mamour Bá mostra um trabalho totalmente autoral, com composições marcadas pela influência dos ritos e ritmos tradicionais do Senegal e a presença marcante dos tambores.</string>
			<key>link</key>
			<string>vazio</string>
		</dict>
	</array>
	<key>24</key>
	<array>
		<dict>
			<key>nome</key>
			<string>Projeto “Cinemateca Sylvio Back” - “Yndio do Brasil”</string>
			<key>local</key>
			<string>Casa do Brás</string>
			<key>horario</key>
			<string>18:00</string>
			<key>descricao</key>
			<string>Filme: “Yndio do Brasil”, de Sylvio Back (documentário | 70’ | Brasil, 1995)
Classificação indicativa: livre
Narrado por José Mayer, o documentário mostra uma colagem de dezenas de filmes nacionais e estrangeiros, revelando como o cinema vê e ouve o índio brasileiro desde quando o filmaram pela primeira vez, em 1912. São imagens surpreendentes, emolduradas por músicas temáticas e poemas, que transportam o espectador a um universo idílico e preconceituoso, religioso e militarizado, cruel e mágico do nosso índio. </string>
			<key>link</key>
			<string>vazio</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Clowns de Shakespeare em “Muito barulho por quase nada”</string>
			<key>local</key>
			<string>Teatro da FCCDA</string>
			<key>horario</key>
			<string>20:00</string>
			<key>descricao</key>
			<string>classificação indicativa: 10 anos
Ingressos: R$5,00 (cinco reais)
Misturando Shakespeare com um tempero nordestino, o Grupo de Teatro Clowns de Shakespeare conta a história de dois amores: a paixão romântica e idealizada de Hero e Claudio e a feroz e espirituosa troca de farpas entre Benedicto e Beatriz. O espetáculo é leve, divertido, festivo, com destaque para a música, toda composta e executada ao vivo pelos atores.</string>
			<key>link</key>
			<string>http://www.clowns.com.br/site2011/index.php</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Sampando em “Sampando”</string>
			<key>local</key>
			<string>Paredão da Rua Tiradentes</string>
			<key>horario</key>
			<string>21:30</string>
			<key>descricao</key>
			<string>Já que a terra da Garoa serviu de cenário de inspiração para diversos compositores, por que não homenagear a maior cidade do país de forma contemporânea e moderna? Caetano Veloso, Tom Jobim, Rita Lee, Tom Zé e Adoniran Barbosa são algumas das pessoas que cantaram suas ruas, esquinas e avenidas. O grupo, formado por jovens músicos paulistanos, interpreta as principais canções com elegância e sonoridade única. Com influência do soul, os clássicos ganharam novos arranjos, que, com sutileza, embalam os apaixonados pelo coração econômico do país.</string>
			<key>link</key>
			<string>vazio</string>
		</dict>
	</array>
	<key>23</key>
	<array>
		<dict>
			<key>nome</key>
			<string>Gustavo Figueiredo Trio</string>
			<key>local</key>
			<string>Casa de Drummond</string>
			<key>horario</key>
			<string>20:00</string>
			<key>descricao</key>
			<string>O grupo do pianista belorizontino Gustavo Figueiredo leva ao quintal da Casa de Drummond um show instrumental, onde composições próprias dividem espaço com música como “Canção do Sal”, de Milton Nascimento, e “Samba dobrado”, de Djavan. O trio expressa ainda sua arrojada sonoridade influenciada pelo jazz e pela música latina.</string>
			<key>link</key>
			<string>vazio</string>
		</dict>
	</array>
	<key>22</key>
	<array>
		<dict>
			<key>nome</key>
			<string>Projeto “Cinemateca Sylvio Back” - “Aleluia, Gretchen”</string>
			<key>local</key>
			<string>Casa do Brás</string>
			<key>horario</key>
			<string>19:00</string>
			<key>descricao</key>
			<string>Filme: “Aleluia, Gretchen”, de Sylvio Back (drama | 118’ | Brasil, 1976) classificação indicativa: 16 anos
O terceiro longa-metragem de Sylvio Back traz a marca da controvérsia política que caracteriza a obra do cineasta catarinense. Para mostrar as ligações da Ação Integralista Brasileira com o Terceiro Reich, ao longo de quatro décadas, o diretor recorre a uma linguagem tão polêmica e ousada quanto o próprio tema. Realizado durante a ditadura militar, “Aleluia, Gretchen&quot; trata da saga de uma família de imigrantes alemães que, fugindo do nazismo, vem-se radicar numa cidade do Sul do Brasil. Às vésperas da Segunda Grande Guerra, e durante a conflagração, membros da família se envolvem com a Quinta Coluna e o Integralismo.</string>
			<key>link</key>
			<string>vazio</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Grupo Foguetes Maravilha em “Ninguém falou que seria fácil”</string>
			<key>local</key>
			<string>Teatro da FCCDA</string>
			<key>horario</key>
			<string>20:00</string>
			<key>descricao</key>
			<string>classificação indicativa: 14 anos
Ingresso: R$5,00 (cinco reais)
 “Ninguém falou que seria fácil” mistura o cotidiano e o inusitado em uma estrutura fragmentada que inclui filmes franceses dos anos 70, dança contemporânea, dramas familiares, exercícios metalinguísticos e fábulas para crianças. Em cena, uma discussão de casal inicia um vertiginoso jogo de troca de papéis. O espetáculo traz as relações familiares para o centro da arena, numa narrativa que é, ao mesmo tempo, ácida, afetuosa, humorística e irônica. Um dos destaques da temporada teatral de 2011/12, a peça recebeu críticas elogiosas e os prêmios Shell (RJ), APTR (RJ) e Questão de Crítica (RJ) de melhor texto.</string>
			<key>link</key>
			<string>http://www.foguetesmaravilha.wordpress.com</string>
		</dict>
	</array>
	<key>20</key>
	<array>
		<dict>
			<key>nome</key>
			<string>Tarde Hip Hop</string>
			<key>local</key>
			<string>Praça Acrísio Alvarenga</string>
			<key>horario</key>
			<string>15:00</string>
			<key>descricao</key>
			<string>A praça Acrísio será palco, durante toda a tarde, de apresentações musicais, de dança e de grafitagem ligadas ao movimento hip hop. A programação conta com a presença dos rappers Luquinha DDG, MC Tucão, Manu Máfia, Pedro DDG, Verbo Mental, do grafiteiro Negro F e do grupo dança de rua Connection Crew. </string>
			<key>link</key>
			<string>vazio</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>“Histórias da Mãe África”</string>
			<key>local</key>
			<string>Teatro da FCCDA</string>
			<key>horario</key>
			<string>16:00</string>
			<key>descricao</key>
			<string>Ingresso: R$5,00 (cinco reais)
A magia, a beleza e a sabedoria dos contos e das histórias africanas e afro-brasileiras estão presentes nesse espetáculo infantil. A atriz e contadora de histórias Priscila Camargo apresenta contos, mitos e lendas da tradição oral africana, num trabalho de pesquisa que reúne histórias de diferentes regiões. Com muita música e bonecos, o espetáculo ressalta a presença do “griot”, tradicional contador de histórias africano que fica em cena, participando o tempo todo da narrativa.</string>
			<key>link</key>
			<string>vazio</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Venal em “Um milhão de ideias mortas” e A Fase Rosa em “Homens Lentos”</string>
			<key>local</key>
			<string>Fazenda do Pontal</string>
			<key>horario</key>
			<string>20:30</string>
			<key>descricao</key>
			<string>Os jovens itabiranos da banda Venal apresentam as músicas de seu primeiro EP. Com diversas composições autorais, fazem um show contemporâneo e atual com influências de rock alternativo, indie e MPB. O grupo A Fase Rosa apresenta um show repleto de referências musicais como samba, marchas, carimbo, axé, tropicalismo e manguebeat. Com apresentação alegre e instigante, a banda mostra partes de composições próprias e de suas experimentações instrumentais.</string>
			<key>link</key>
			<string>http://www.afaserosa.com.br</string>
		</dict>
	</array>
	<key>19</key>
	<array>
		<dict>
			<key>nome</key>
			<string>Jomar Bragança em “Submerso” e Coral da FCCDA</string>
			<key>local</key>
			<string>Casa do Brás</string>
			<key>horario</key>
			<string>19:00</string>
			<key>descricao</key>
			<string>Período expositivo: 19 a 31 de julho
Horário de visitação: terça à sexta | 8h às 18h
sábado e domingo | 10h30 às 16h30
Esse itabirano, graduado em arquitetura pela UFMG, atua como fotógrafo, editor e design gráfico, há mais de 25 anos, nos mercados nacional e internacional. Jomar Bragança leva à Casa do Brás uma exposição que mergulha em processos analógicos para criar um novo ponto de vista da fotografia subaquática. Em seguida, o Coral da FCCDA se apresenta pela primeira vez com novos integrantes e regente. Assim, o Coral mostra um repertório formado por um conjunto de cânones, cantados em diferentes estilos, lugares e línguas. </string>
			<key>link</key>
			<string>vazio</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Grupo Ponto de Partida em “Par”</string>
			<key>local</key>
			<string>Teatro da FCCDA</string>
			<key>horario</key>
			<string>20:00</string>
			<key>descricao</key>
			<string>classificação indicativa: 10 anos
Ingresso: R$5,00 (cinco reais)
Pondo o ator como centro do espetáculo, cantando, dançando, interpretando e construindo seu o espaço cênico, “Par” tem como tema a relação amorosa e seus inúmeros tons: o enamoramento, a paixão, o ciúme, a dor, os encontros, os desencontros, a celebração do amor. O Grupo volta a pisar os palcos itabiranos trazendo a delicadeza e o humor das músicas de Dorival Caymmi, Tom Jobim, Ary Barroso, Vander Lee, Cartola e Rita Lee, entre tantos outros. Assim, “Par” se transforma num espetáculo que, galantemente, convida o público para dançar.</string>
			<key>link</key>
			<string>http://www.grupopontodepartida.com.br</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Gustavito em “Gustavito e a Bicicleta” e Angu Stereo Club</string>
			<key>local</key>
			<string>Fazenda do Pontal</string>
			<key>horario</key>
			<string>22:00</string>
			<key>descricao</key>
			<string>Em mais uma noite de boa música, o Bar do Festival recebe “Gustavito e a Bicicleta”, em um show de MPB cheio de composições autorais. Acompanhado pelo grupo “A Bicicleta”, Gustavito explora a mistura de ritmos como samba, afoxé e maracatu. Jazz, improviso e experimentalismo são as palavras de ordem da Angu Stereo Club. Na interpretação proposta pelo grupo, clássicos da música popular brasileira e da música universal ganham versões inusitadas.</string>
			<key>link</key>
			<string>http://www.gustavito.com.br</string>
		</dict>
	</array>
	<key>18</key>
	<array>
		<dict>
			<key>nome</key>
			<string>Nando Reis em “Sei”</string>
			<key>local</key>
			<string>Praça do Areão</string>
			<key>horario</key>
			<string>21:30</string>
			<key>descricao</key>
			<string>De volta a Itabira, Nando Reis lança neste Festival de Inverno seu mais recente trabalho de inéditas, “Sei”. Composto por 15 músicas, o álbum comemora seus 30 anos de carreira. Na terra de Drummond, Nando Reis apresenta músicas inéditas como “Sei”, “Back in Vânia” e “Pra Quem Não Vem”, e sucessos autorais já conhecidos como “As Coisas Tão Lindas”, “All Star”, “Pra Você Guardei o Amor” e “Relicário”. Além disso, o cantor se apresenta com a formação de “Nando Reis e os Infernais”, que tem Felipe Cambraia (baixo e vocal), Diogo Gameiro (bateria e vocal), Alex Veley (teclados e vocal), Walter Villaça (guitarra e vocal) e Gil Miranda e Hannah Lima no backing vocal.</string>
			<key>link</key>
			<string>http://www.nandoreis.com.br</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Nath Faria em “Saindo do Lugar” e Mário e Banda</string>
			<key>local</key>
			<string>Fazenda do Pontal</string>
			<key>horario</key>
			<string>23:30</string>
			<key>descricao</key>
			<string>Revelando toda a versatilidade, talento e musicalidade contemporânea de sua música, Nath Faria mistura com charme MPB, soul, hip hop e elementos eletrônicos. Em “Saindo do Lugar” canta Aretha Franklin, Lauryn Hill, Erykah Badu, Céu, Bob Marley e Tim Maia. Mário e Banda já são velhos conhecidos do Festival de Inverno de Itabira, e voltam nesta edição ressaltando a importância do pop e do rock nacionais. O repertório com músicas de Gilberto Gil, Zeca Baleiro, Hanoi Hanoi e Lulu Santos, entre outros, promete não deixar ninguém parado.</string>
			<key>link</key>
			<string>vazio</string>
		</dict>
	</array>
	<key>17</key>
	<array>
		<dict>
			<key>nome</key>
			<string>Projeto “Cinemateca Sylvio Back” - “Lance Maior”</string>
			<key>local</key>
			<string>Memorial Carlos Drummond de Andrade</string>
			<key>horario</key>
			<string>19:00</string>
			<key>descricao</key>
			<string>Filme: “Lance Maior”, de Sylvio Back (drama | 100’ | Brasil, 1968) classificação indicativa: 14 anos
Esse é o primeiro longa-metragem de Sylvio Back, e nasceu do desejo do cineasta de inserir o estado onde cresceu (Paraná) no mapa da produção nacional, então dominada pelo Cinema Novo. O filme também é resultado da inquietação de um autor que não se via condenado ao corredor estreito de um cinema dito &quot;regional&quot;. Mário (Reginaldo Faria), estudante universitário e bancário, a partir de uma ligação amorosa com Cristina (Regina Duarte), jovem rica, orgulhosa e emancipada, tenta ascender socialmente. Entre os dois coloca-se a sensual comerciária Neusa (Irene Stefânia), inexperiente e revoltada com a condição humilde de sua família. Cada um buscando um lugar ao sol na vida, todos se enredam num diabólico jogo de sexo e de amor.</string>
			<key>link</key>
			<string>vazio</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>José Miguel Wisnik em “Veneno Remédio, futebol e canção”</string>
			<key>local</key>
			<string>Teatro da FCCDA</string>
			<key>horario</key>
			<string>20:00</string>
			<key>descricao</key>
			<string>Ingressos: R$5,00 (cinco reais)
No formato de aula-show, José Miguel Wisnik fala sobre as questões mais importantes do livro “Veneno remédio: O futebol e o Brasil”, lançado em 2008, e apresenta um repertório voltado para as relações e os diálogos da canção com o futebol, percorrendo músicas de todas as fases da sua carreira. Músico, ensaísta, livre-docente em literatura brasileira pela Universidade de São Paulo, Wisnik já recebeu prêmios importantes, como o Jabuti da Câmara Brasileira do Livro (1978 e 2009), a bolsa da John Simon Guggenheim Foundation (1983-84), o Troféu Noel Rosa (1989), o prêmio do Festival de Gramado (1989), o prêmio da Associação Paulista de Críticos de Arte (1991, 1993 e 1995) e o prêmio de melhor música do Festival de Cinema do Ceará (2001). Em 2009 recebeu a Ordem do Mérito Cultural.</string>
			<key>link</key>
			<string>http://www.zemiguelwi.dominiotemporario.com</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Alpercata em “Horizonte Batucador” e Forró Bão Dimais em “Canta Luiz”</string>
			<key>local</key>
			<string>Fazenda do Pontal</string>
			<key>horario</key>
			<string>21:00</string>
			<key>descricao</key>
			<string>Inspirados nas obras de João Bosco, João Donato, Paulo César Pinheiro, Paulinho da Viola e Gonzaguinha, entre outros, os integrantes do grupo Alpercata alcançam uma sonoridade marcada pelo cuidado em produzir um show de estética simples, sofisticada e contemporânea. Já o grupo “Forró Bão Dimais”, formado por músicos deficientes visuais, arma-se de zabumba, triângulo e sanfona e traz ao Bar do Festival toda a musicalidade e a genialidade de Luiz Gonzaga. </string>
			<key>link</key>
			<string>vazio</string>
		</dict>
	</array>
	<key>16</key>
	<array>
		<dict>
			<key>nome</key>
			<string>Coletivo de Artistas “A Arte na Fotografia”</string>
			<key>local</key>
			<string>Fazenda do Pontal</string>
			<key>horario</key>
			<string>19:00</string>
			<key>descricao</key>
			<string>Abertura: 16 de julho (quinta-feira) | 19h.
Período expositivo: 16 a 31 de julho
Visitação: terça a sexta | 8h às 18h, sábado e domingo | 10h30 às 16h30
 A fotografia vem sendo cada vez mais utilizada pelos artistas plásticos, seja pela facilidade e qualidade dos novos mecanismos digitais, seja pela troca dos suportes tradicionais dentro da arte contemporânea. Essa mostra pretende investigar como cada artista utiliza a fotografia como extensão de seu pensamento crítico e criativo dentro de uma linguagem única. Assim, Eymard Brandão, Jayme Reis, José Bento, Marcelo Drummond e Sérgio Machado exibem parte de sua obra.</string>
			<key>link</key>
			<string>vazio</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Projeto “Cinemateca Sylvio Back” - Sessão comentada “Cruz e Sousa – o poeta do desterro”</string>
			<key>local</key>
			<string>Memorial Carlos Drummond de Andrade</string>
			<key>horario</key>
			<string>19:00</string>
			<key>descricao</key>
			<string>Filme: “Cruz e Sousa – o poeta do desterro”, de Sylvio Back (drama | 86’ | Brasil, 1998) classificação indicativa: 14 anos
Comentários: Sylvio Back
Biografia do poeta brasileiro, filho de escravos, João da Cruz e Sousa (1861-1898), fundador do Simbolismo no Brasil e considerado o maior poeta negro da língua portuguesa. Com imensa importância para a literatura brasileira, sua vida é uma novela de final nada feliz. Negro, catarinense, pobre, foi vítima do racismo do seu tempo. Morreu jovem, com 37 anos, e arrastou o grande amor de sua vida, Gaviria, numa trajetória de sofrimentos. O filme desdobra-se em &quot;estrofes visuais&quot; (onde a palavra tem tanto valor quanto a imagem) e rastreia desde as arrebatadoras paixões do poeta, em Florianópolis, ao seu emparedamento social, racial e intelectual, que culmina com o trágico fim no Rio de Janeiro.</string>
			<key>link</key>
			<string>vazio</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Cia Luna Lunera em “Aqueles dois”</string>
			<key>local</key>
			<string>Teatro da FCCDA</string>
			<key>horario</key>
			<string>16:00</string>
			<key>descricao</key>
			<string>classificação indicativa: 16 anos
Ingresso: R$5,00 (cinco reais)
Baseado no texto homônimo de Caio Fernando Abreu, “Aqueles dois” possibilita uma diversidade de leituras e percepções sobre o universo dos personagens Raul e Saul, que dividem a rotina em uma repartição e desenvolvem laços de cumplicidade. Essa relação acaba, porém, gerando incômodo nos demais colegas. O espetáculo foi contemplado no 13º Prêmio Sesc-Sated/MG, nas categorias Melhor Espetáculo e Melhor Direção, e no 5º Prêmio Usiminas-Sinparc, nas categorias Melhor Espetáculo, Melhor Direção e Melhor Ator (Rômulo Braga). Foi, também, indicado ao Prêmio Shell São Paulo 2009, nas categorias de Melhor Direção, Melhor Cenário e Melhor Iluminação.</string>
			<key>link</key>
			<string>http://www.cialunalunera.com.br</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Concerto Orquestra de Câmara da Escola Livre de Música</string>
			<key>local</key>
			<string>Igreja Nossa Senhora da Saúde</string>
			<key>horario</key>
			<string>19:30</string>
			<key>descricao</key>
			<string>Este concerto mostra uma obra escrita exclusivamente para fins didáticos. A Suíte Modal nº1 de Jônatas Reis é composta de 7 movimentos (partes) e tem o objetivo de trabalhar a percepção dos modos e a sonoridade característica de cada um deles.</string>
			<key>link</key>
			<string>vazio</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Trio Amadeus em “Trio Amadeus ao Vivo”</string>
			<key>local</key>
			<string>Santuário de São Geraldo Magela</string>
			<key>horario</key>
			<string>20:00</string>
			<key>descricao</key>
			<string>Ao som de harpa, violão, violino e belos arranjos vocais, o Trio Amadeus apresenta clássicos atemporais da música mundial, em versões que mesclam peças eruditas e populares, antigas e contemporâneas. Árias de óperas, trilhas de filmes e canções autorais marcam a vontade do grupo de romper as barreiras pré-estabelecidas da criação musical e modernizar seu estilo.</string>
			<key>link</key>
			<string>http://www.trioamadeus.com.br</string>
		</dict>
	</array>
	<key>15</key>
	<array>
		<dict>
			<key>nome</key>
			<string>“Baú de Histórias”</string>
			<key>local</key>
			<string>FCCDA</string>
			<key>horario</key>
			<string>14:00</string>
			<key>descricao</key>
			<string>15, 17, 22 e 24 de julho | 14h
A proposta do grupo Baú de Histórias, de Itabira, é propiciar momentos de encantamento por meio da contação de histórias infantis, enriquecidas com um belo repertório musical. A ideia é resgatar as histórias e as músicas que compõem o cancioneiro popular.</string>
			<key>link</key>
			<string>vazio</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Projeto “Cinemateca Sylvio Back” - Lançamento nacional de “O Universo Graciliano”</string>
			<key>local</key>
			<string>Memorial Carlos Drummond de Andrade</string>
			<key>horario</key>
			<string>19:00</string>
			<key>descricao</key>
			<string>Filme: “O Universo Graciliano”, de Sylvio Back (documentário | 84’ | Brasil, 2013) Classificação indicativa: livre
Comentários: Sylvio Back
O cineasta Sylvio Back vem a Itabira para promover o lançamento nacional e fazer uma sessão comentada de seu documentário “O Universo Graciliano”. Fruto de uma vasta pesquisa literária e de campo, o filme ouve contemporâneos, resgata locais e arquivos (que pareciam perdidos) em Pernambuco, Alagoas e no Rio de Janeiro e dá visibilidade a rastros, sombras e escombros memoriais em torno de Graciliano Ramos (1892-1953). É um dos primeiros filmes brasileiros sobre a vida, a obra e a morte do genial escritor alagoano.</string>
			<key>link</key>
			<string>vazio</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Ronald Claver em “Noite da Poesia e da Cachaça” e Camaratã em “Música instrumental brasileira autoral”</string>
			<key>local</key>
			<string>Casa de Drummond</string>
			<key>horario</key>
			<string>19:30</string>
			<key>descricao</key>
			<string>Comandada pelo escritor Ronald Claver, a “Noite da Poesia e da Cachaça” visa a reunir textos de diferentes tendências e formas. Com a ajuda de mais cinco escritores convidados, grandes nomes da literatura mundial integram o projeto, como Drummond, García Lorca, Neruda, Quintana, Millôr e outros. Logo em seguida, o grupo Camaratã defende sua música instrumental autoral, tocando o melhor da fusão entre os ritmos brasileiros (xaxado, samba e frevo) e o jazz. Destaque para a forte pegada regional e os improvisos jazzísticos inspirados.</string>
			<key>link</key>
			<string>http://www.ronaldclaver.com</string>
		</dict>
	</array>
	<key>13</key>
	<array>
		<dict>
			<key>nome</key>
			<string>Dia do Rock com Jurassic Metals, Djorous, DR80, Skellter e Red Hot Chilli Peppers by Organic</string>
			<key>local</key>
			<string>Praça do Areão</string>
			<key>horario</key>
			<string>14:00</string>
			<key>descricao</key>
			<string>Futebol e rock se unem em duas comemorações especiais: final da Copa do Mundo e Dia do Rock. Após a exibição do jogo, cinco bandas sobem ao palco na Praça do Areão para tornar ainda maior a celebração. A banda itabirana Jurassic Metals apresenta um repertório baseado no rock dos anos 70 e 80, além de composições próprias. Já a banda Djours dedica-se às releituras de sucesso do rock brasileiro, como o da Legião Urbana, Paralamas do Sucesso, Lobão, RPM e Ultraje a Rigor, entre outros.  A banda DR80 prova que, ao relembrar a história do gênero, é preciso identidade própria e personalidade. Assim como a Banda Skellter, que toca um repertório internacional e mostra que o Queen, AC/DC e Deep Purple ainda são fortes no cenário. Para fechar a noite, a banda cover Red Hot Chilli Peppers by Organic vai levar aos fãs os maiores sucessos do grupo californiano.</string>
			<key>link</key>
			<string>vazio</string>
		</dict>
	</array>
	<key>12</key>
	<array>
		<dict>
			<key>nome</key>
			<string>Sarau Tropeiro em “Rastro”</string>
			<key>local</key>
			<string>Museu do Tropeiro</string>
			<key>horario</key>
			<string>20:00</string>
			<key>descricao</key>
			<string>Para comemorar o 1º ano de Ipoema como Capital Estadual do Tropeirsmo, o grupo Sarau Tropeiro lança o livro “Em ponto de bala” e o CD “Rastro&quot;, com canções e poemas autorais e músicas regionais de domínio público. Em uma apresentação repleta de performances e contação de casos, Ricardo Evangelista e Sueli Silva envolvem o público com a beleza dos poemas cantados e falados. Esse evento integra a programação comemorativa realizada no Distrito de Ipoema.</string>
			<key>link</key>
			<string>vazio</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Circo Banana Caturra em “Canta e encanta”</string>
			<key>local</key>
			<string>Praça José Máximo Resende</string>
			<key>horario</key>
			<string>16:00</string>
			<key>descricao</key>
			<string>Circo e futebol voltam a invadir a Praça do Campestre. O Circo Banana Caturra mostra que a palhaça Magrela tem dons artísticos a revelar. Acompanhada por músicos, ela solta a voz. A seguir acontece a transmissão do jogo que marca a disputa pelo terceiro lugar da Copa do Mundo de Futebol.“Entre o céu e as serras” estreou em 2000, com grande sucesso de crítica e de público. Dirigido por Cristina Machado, a montagem traz diversas referências culturais ao período barroco e à formação da identidade do povo mineiro. A religiosidade, o domínio português e a resistência da cultura negra são resgatados pelo espetáculo de forma contemporânea.</string>
			<key>link</key>
			<string>http://www.circobananacaturra.com.br</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Palavra Cantada em “Aventuras Musicais”</string>
			<key>local</key>
			<string>Concha Acústica</string>
			<key>horario</key>
			<string>19:00</string>
			<key>descricao</key>
			<string>Em noite especialmente programada para a criançada, a Concha Acústica recebe o grupo Palavra Cantada. Comandado por Paulo Tatit e Sandra Peres, esse colorido espetáculo mistura música e teatro. Com um repertório cheio de sucessos como “Sopa”, “Rato” e “Vem dançar com a gente”, a dupla explora elementos que garantem a qualidade das canções, além de respeitar a inteligência e a sensibilidade dos pequenos.</string>
			<key>link</key>
			<string>http://www.palavracantada.com.br</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Alessandra Leão em “Língua” e Audergang em “Blues for the blues”</string>
			<key>local</key>
			<string>Fazenda do Pontal</string>
			<key>horario</key>
			<string>22:00</string>
			<key>descricao</key>
			<string>A percussionista, compositora e cantora pernambucana Alessandra Leão dedica-se a criar uma música contemporânea profundamente relacionada à música tradicional brasileira. No show “Línguas”, propõe um mergulho profundo em sua composição autoral e os diversos elementos que a ligam ao cinema, às artes plásticas, à dança e ao teatro. Já os integrantes da banda Audergang dedicam-se a mostrar um apanhado geral de sua trajetória na busca pela elaboração de arranjos, improvisação e técnica instrumental que tão bem caracterizam o blues.</string>
			<key>link</key>
			<string>http://www.audergang.com</string>
		</dict>
	</array>
	<key>11</key>
	<array>
		<dict>
			<key>nome</key>
			<string>Lançamento de livros com Mário Chagas</string>
			<key>local</key>
			<string>Memorial Carlos Drummond de Andrade</string>
			<key>horario</key>
			<string>18:30</string>
			<key>descricao</key>
			<string>Em uma noite dedicada especialmente às letras, o poeta e museólogo Mário Chagas lança dois de seus livros: “Língua de fogo ou antes que o mundo acabe” e “Museu, biodiversidade e sustentabilidade ambiental”. O primeiro é resultado de um projeto de mais de uma década de trabalho e reúne poesias sobre a morte do índio Galdino, a luta dos poetas contra a barbárie, os caminhos e descaminhos da memória, pontos de fuga, museus, amores, amizades e do fim do mundo. O segundo é um dos frutos do Simpósio Museus, Biodiversidade e Sustentabilidade Ambiental, realizado no Museu Histórico Nacional, em 2010, com o objetivo de examinar o papel dos museus diante dos desafios da atualidade. </string>
			<key>link</key>
			<string>vazio</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Cia de Dança do Palácio das Artes em “Entre o céu e as serras</string>
			<key>local</key>
			<string>Teatro da FCCDA</string>
			<key>horario</key>
			<string>20:00</string>
			<key>descricao</key>
			<string>Ingresso: R$5,00 (cinco reais)
“Entre o céu e as serras” estreou em 2000, com grande sucesso de crítica e de público. Dirigido por Cristina Machado, a montagem traz diversas referências culturais ao período barroco e à formação da identidade do povo mineiro. A religiosidade, o domínio português e a resistência da cultura negra são resgatados pelo espetáculo de forma contemporânea.</string>
			<key>link</key>
			<string>http://www.fcs.mg.gov.br</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Zizi Possi</string>
			<key>local</key>
			<string>Concha Acústica</string>
			<key>horario</key>
			<string>21:30</string>
			<key>descricao</key>
			<string>Com 36 anos de carreira, Zizi Possi se apresenta pela primeira vez em terras itabiranas. Neste Festival de Inverno, ela canta o repertório do álbum “Tudo se transformou”, que homenageia grandes autores da música brasileira como Chico Buarque, Geraldo Vandré, Dominguinhos, Guilherme Arantes, Paulinho da Viola e Gonzaguinha. Além disso, Zizi Possi não deixa de lado sucessos conhecidos do público e composições próprias.</string>
			<key>link</key>
			<string>http://www2.uol.com.br/zizipossi</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Uobá em “Minas para o Brasil – Segundo Ato – Apesar de você” e Odilara em “Janela pro Mundo”</string>
			<key>local</key>
			<string>Fazenda do Pontal</string>
			<key>horario</key>
			<string>23:00</string>
			<key>descricao</key>
			<string>O grupo itabirano Uobá traz ao público o segundo ato de seu já conhecido show “Minas para o Brasil”. Em “Apesar de você”, o grupo continua sua busca pela essência da música regional brasileira, e passeia pela produção rítmica das décadas de 60 e 70 resgatando sucessos de Chico Buarque, Sérgio Sampaio, Banda de Pau e Corda, Caetano Veloso e, claro, composições próprias. De volta a Itabira, a banda Odilara se apresenta com um novo show. “Janela pro Mundo” reflete um novo momento do quinteto mineiro, em que a produção autoral ganha destaque e, misturando-se às músicas do último CD, mostra ao público um show repleto de swing, carisma e presença de palco.</string>
			<key>link</key>
			<string>http://www.uoba.tnb.art.br </string>
		</dict>
	</array>
	<key>10</key>
	<array>
		<dict>
			<key>nome</key>
			<string>Mário Chagas em “A imaginação museal de Carlos Drummond de Andrade”</string>
			<key>local</key>
			<string>Memorial Carlos Drummond de Andrade</string>
			<key>horario</key>
			<string>19:00</string>
			<key>descricao</key>
			<string>O poeta e museólogo Mário Chagas examina a imaginação museal de Drummond a partir de sua produção poética, de sua prática no âmbito do Instituto do Patrimônio Histórico e Artístico Nacional (IPHAN) e de suas propostas concretas para a criação de museus. Mário Chagas tem graduação em Museologia pela Universidade Federal do Estado do Rio de Janeiro e Licenciatura em Ciências pela Universidade do Estado do Rio de Janeiro, pela qual é, também, mestre em Memória Social e doutor em Ciências Sociais.</string>
			<key>link</key>
			<string>vazio</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Dênis Guimarães em “Andarilho da Luz” e Renata Araújo em “Filmes Americanos – Música e Projeções Visuais ”</string>
			<key>local</key>
			<string>Paredão da Rua Tiradentes</string>
			<key>horario</key>
			<string>20:00</string>
			<key>descricao</key>
			<string>Em uma noite só de itabiranos, Dênis Guimarães e Renata Araújo prometem uma noite de sucessos nacionais e internacionais no Paredão da Rua Tiradentes. No show “Andarilho da Luz”, Dênis Guimarães relembra sucessos dos compositores mineiros Flávio Venturini, Fernando Brant, Lô Borges e Milton Nascimento, entre outros. Renata Araújo leva ao palco uma seleção de músicas que marcaram as trilhas sonoras de grandes sucessos cinematográficos norte-americanos. A cantora comanda uma viagem musical por filmes como “Mad Max”, “Footloose”, “Top Gun” e “Os caça-fantasmas”, entre outros, com a exibição de cenas desses filmes.</string>
			<key>link</key>
			<string>vazio</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Barba Blues em “Rhythm and Blues” e Fernamda Ca em “Fernamda Ca Acústico”</string>
			<key>local</key>
			<string>Fazenda do Pontal</string>
			<key>horario</key>
			<string>22:30</string>
			<key>descricao</key>
			<string>Sucesso de público no último Festival de Inverno, o Bar do Festival volta nesta 40ª edição. A noite será de rock, blues e folk, ao som dos itabiranos do Barba Blues e da mineira Fernamda Ca. Nesse show, o Barba Blues apresenta um repertório marcante com o melhor do blues, soul, jazz e rock, resgatando nomes como BB King, Eric Clapton, Celso Blues Boys, entre outros. Já Fernamda Ca, em seu “Acústico”, apresenta um show com canções autorais e releituras de cantores como Milton Nascimento e Jorge Ben Jor, costurando sua performance visceral a um repertório recheado de pop, rock e MPB.</string>
			<key>link</key>
			<string>vazio</string>
		</dict>
	</array>
	<key>9</key>
	<array>
		<dict>
			<key>nome</key>
			<string>Banana Caturra em “Potássio”</string>
			<key>local</key>
			<string>Praça José Máximo Resende</string>
			<key>horario</key>
			<string>16:00</string>
			<key>descricao</key>
			<string>A Praça do Campestre vira, novamente, palco da união de futebol e circo. Circo Banana Caturra volta a se apresentar, dessa vez narrando as aventuras de Potássio no planeta Banana, onde ele recebeu superpoderes. Um espetáculo de humor, malabarismo e improvisação. Em seguida, transmissão do jogo da segunda semifinal da Copa do Mundo de Futebol.</string>
			<key>link</key>
			<string>http://www.circobananacaturra.com.br</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Mário Zavagli em “Gravuras” e Jorge Fonseca em “Jorge Fonseca”</string>
			<key>local</key>
			<string>FCCDA</string>
			<key>horario</key>
			<string>20:30</string>
			<key>descricao</key>
			<string>Período expositivo: 9 a 31 de julho
 Visitação: terça a sexta | 8h às 18h
 sábado e domingo | 10h30 às 16h30
 Duas exposições importantes passam a ser exibidas no prédio da Fundação Cultural. Ocupando o espaço do foyer, o pintor, desenhista e gravador Mário Zavagli exibe seu belo e detalhado trabalho como aquarelista. A exposição retrata o caminho percorrido pelos grandes artistas viajantes do século XVII, em Minas Gerais. Já a Galeria recebe as obras do artista Jorge Luiz da Fonseca. Mineiro de Conselheiro Lafaiete, as habilidades desse ex-maquinista demonstram a originalidade de um grande nome da arte contemporânea. Em 20 anos de carreira, Jorge Fonseca participou da Bienal de Kaunas na Lituânia, da Quadrienal de Praga e recebeu da Fundação Pollock-Krasner de Nova York um prêmio pela importância e pelo conjunto da obra.</string>
			<key>link</key>
			<string>vazio</string>
		</dict>
	</array>
	<key>8</key>
	<array>
		<dict>
			<key>nome</key>
			<string>Banana Caturra em “As aventuras de Potássio e Magrela”</string>
			<key>local</key>
			<string>Praça José Máximo Resende</string>
			<key>horario</key>
			<string>23:00</string>
			<key>descricao</key>
			<string>Futebol e cultura se encontram na Praça do Campestre e divertem pessoas de todas as idades. Os integrantes do Circo Banana Caturra prometem animar a criançada com uma apresentação interativa, cheia de surpresas e desafios. Logo depois, os apaixonados por futebol poderão assistir à transmissão da primeira semifinal da Copa do Mundo de Futebol. </string>
			<key>link</key>
			<string>http://www.circobananacaturra.com.br</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Genin Guerra em “Genin, O Cometa e o Anjo Torto”</string>
			<key>local</key>
			<string>Concha Acústica</string>
			<key>horario</key>
			<string>20h30</string>
			<key>descricao</key>
			<string>Período expositivo: 8 a 31 de julho.
Visitação: terça a sexta: 8h às 18h.
sábado e domingo | 10h30 às 16h30.
Abrindo a grade de exposições deste Festival de Inverno, a Casa de Drummond recebe um rico acervo de obras do artista plástico itabirano Genin Guerra. Esta mostra tem um ar de retrospectiva e reúne desenhos datados de 1980, publicados no jornal “O Cometa Itabirano”, como resultado de uma relação de cumplicidade entre o Drummond e a turma do jornal. </string>
			<key>link</key>
			<string>vazio</string>
		</dict>
	</array>
	<key>6</key>
	<array>
		<dict>
			<key>nome</key>
			<string>Itabiranos em Cena em “40 anos de Festival”</string>
			<key>local</key>
			<string>Praça do Areão</string>
			<key>horario</key>
			<string>19:00</string>
			<key>descricao</key>
			<string>Em um show comemorativo, os cantores itabiranos Lívia Braga, Daurea Jabour, Ana Luiza, Tony Primo e Jesus Henrique apresentam um repertório recheado de sucessos de artistas nacionais que passaram pelo Festival nos últimos 40 anos.</string>
			<key>link</key>
			<string>vazio</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Jorge Ben Jor</string>
			<key>local</key>
			<string>Praça do Areão</string>
			<key>horario</key>
			<string>20:30</string>
			<key>descricao</key>
			<string>As comemorações dos 40 anos do Festival de Inverno começam em grande estilo com a volta de Jorge Ben Jor a Itabira, depois de 20 anos. Cantando os sucessos de sua carreira, Ben Jor mostra por que ainda hoje é um dos principais ícones da música nacional. Nas palavras de Caetano Veloso, no livro “Verdade Tropical”, “com sua agressividade alegre e sua musicalidade, deixando à mostra traços crus de samba de morro e blues numa composição de exterioridades nordestinas, era a encarnação dos nossos sonhos. Parecia-me que a minha ‘Tropicália’ era mera teoria, em comparação. ”</string>
			<key>link</key>
			<string>http://www.jorgebenjor.com.br</string>
		</dict>
	</array>
</dict>
</plist>
