<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.luiz.AgendaFCCDA_01"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />


    <uses-permission android:name="android.permission.INTERNET" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
                android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/img_fccda"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.com.luiz.AgendaFCCDA_01.MainActivity"

            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.luiz.AgendaFCCDA_01.PontosCulturaisActivity"
            android:label="@string/title_activity_pontos_culturais" >
        </activity>
        <activity
            android:name="br.com.luiz.AgendaFCCDA_01.SobreActivity"
            android:label="@string/title_activity_sobre" >
        </activity>
        <activity
            android:name="br.com.luiz.AgendaFCCDA_01.PromocoesActivity"
            android:label="@string/title_activity_promocoes" >
        </activity>
        <activity
            android:name="br.com.luiz.AgendaFCCDA_01.inf_evento"
            android:label="@string/title_activity_inf_evento"
            android:parentActivityName="br.com.luiz.AgendaFCCDA_01.inf_evento" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.luiz.AgendaFCCDA_01.inf_evento" />

        </activity>
        <activity
            android:name="br.com.luiz.AgendaFCCDA_01.inf_promocao"
            android:label="@string/title_activity_inf_promocao" >
        </activity>
        <activity
            android:name="br.com.luiz.AgendaFCCDA_01.inf_ponto_cultural"
            android:label="@string/title_activity_inf_ponto_cultural" >
        </activity>
    </application>

</manifest>
